


.header {
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  column-gap: 20px}


li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}



span {
  font-size: 11px;
  justify-self: start;
}

.mat-icon {
  justify-self: end;
  width: 16px;
  height: 16px;
  font-size: 16px;
}


.search-input {
  width: 280px;
  height: 28px;
  padding: 0 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto 15px;
  grid-template-rows: 28px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1)}

.search-icon {
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  width: 15px;
}

.clear-icon {
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 15px;
}

input {
  font-size: 11px;
  height: 100%;
  background-color: transparent;
}

.photo-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, max-content);
  width: 100%;
  margin: 15px 0;
  grid-gap: 10px;
  gap: 10px;
  height: 100%;
  min-height: 300px}

.page-empty-loading {
  align-self: center;
  justify-self: center;
}

.bottom-loading-container {
  display: grid;
  width: 100%;
  min-height: 80px;}

towify-loading {
  align-self: center;
  justify-self: center;
}

.list-row {
  display: flex;
  gap: 10px;
  height: 180px;
}

.list-item {
  flex-grow: 1;
  min-width: 130px;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
  border: 3px solid #fff;
  background-color: #f8f8f8;
  transition: border-color 0.5s;}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}

img:hover {
  transform: scale(1.05);
}


.list-item:hover {
}

.list-item:hover {
  border: 3px solid;
}

.mat-spinner {
  align-self: center;
  justify-self: center;
}

.transferring-loading-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;}

.transferring-loading {
  width: 60px;
  height: 60px;
}


::ng-deep .filter-menu.mat-menu-panel {
  max-height: 300px;
}
